<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" [@cardtypography]>
                    <div class="header">
                        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Search Here">
    <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:right"></button>
    <button type="button" pButton icon="fa-plus" style="float:right" (click)="showDialogToAdd()" label="Add"></button>
</div>


<p-confirmDialog width="400" appendTo="body"></p-confirmDialog>

     <p-dataTable [value]="leaves" selectionMode="single" [(selection)]="selectedLeave" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb" #dt>
                
                 <p-column field="sequenceId" header="Id" styleClass="text-center"></p-column>
    <p-column field="name" header="name" styleClass="text-center"></p-column>
    <p-column field="role" header="Role" styleClass="text-center"></p-column>
     <p-column field="startDate" header="startDate" styleClass="text-center"></p-column>
    <p-column field="endDate" header="endDate" styleClass="text-center"></p-column>
    <p-column field="status" header="status" styleClass="text-center"></p-column>
    
             </p-dataTable>
             
<p-dialog header="Leaves Details" [(visible)]="displayDialog" [responsive]="true" [width]="400" [height]="" showEffect="fade" [modal]="true" appendTo="body" >
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="leaveRequest">
         <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="sequenceId">Id</label></div>
            <div class="ui-grid-col-8"><input pInputText id="sequenceId" [(ngModel)]="leaveRequest.sequenceId" /></div>
        </div><br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="name">Name</label></div>
            <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="leaveRequest.name" /></div>
        </div><br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="role">Role</label></div>
            <div class="ui-grid-col-8"><input pInputText id="role" [(ngModel)]="leaveRequest.role" /></div>
        </div><br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="startDate">start Date</label></div>
            <div class="ui-grid-col-8"><p-calendar [(ngModel)]="leaveRequest.startDate" [showIcon]="true" dateFormat="dd MM yy" readonlyInput="readonlyInput"></p-calendar></div>
        </div><br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="endDate">End Date</label></div>
            <div class="ui-grid-col-8"><p-calendar [(ngModel)]="leaveRequest.endDate" [showIcon]="true" readonlyInput="readonlyInput" dateFormat="dd MM yy"></p-calendar></div>
        </div><br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="status">status</label></div>
            <div class="ui-grid-col-8"><input pInputText id="status" [(ngModel)]="leaveRequest.status" /></div>
        </div><br>
        
        
    </div>
    
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="main()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
                    </div>
                    
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

