    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                <div class="logo-img">
                    
                </div>
               CEO'S Edge
            </a>
        </div>
        <ul class="nav">
            <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
                
                <a *ngIf="(login !='true' && menuItem.title == 'login') || (login=='true' && menuItem.title!='login') " [routerLink]="[menuItem.path, {id : adminRole}]" >
                    <i class="{{menuItem.icon}}"></i>
                    <p>{{menuItem.title}}</p>
                </a> 
            </li>
            
        </ul>
    </div>
